@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Flex:opsz@8..144&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 800;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}

header{
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: goldenrod;
    padding: 20px;
}
.logo{
    color: rgb(241, 0, 0);
}
.cart{
    display: flex;
    gap: 20px;
    align-items: center;
}

.fa-cart-shopping{
    font-size: 30px;
    /* color: goldenrod; */
}
#count{
    font-size: 30px;
}

.container{
    display: flex;
    width: 70%;
    margin-bottom: 30px;
}

#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: #eee;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}




.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding:10px 0px;
    border-top: 1px solid #333;
}